<div class="wrapper-main">
    <div class="content">
        {% include 'products.twig' %}
        <h2 class="h1 size-type">Преимущества:</h2>
        <ul class="list-type-second advantage">
            <li>
                <figure><img src="images/slider/services/icon6.png"
                             alt="долговечность"
                             width="66" height="66"/>
                    <figcaption><span class="type-serv">Комплекс услуг</span>

                        <p>Мы выполняем все работы “под ключ”. Работая с нами, Вы “покупаете” у нас готовое решение и
                            освобождаете свое время и мысли для других дел!</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure><img src="images/slider/services/icon9.png"
                             alt="Качество" width="66"
                             height="66"/>
                    <figcaption><span class="type-serv">СРОКИ И СТОИМОСТЬ</span>

                        <p>Мы заранее “на берегу”просчитываем и договариваемся с Вами о сроках и стоимости проекта. Все
                            работы мы выполняем точно в срок и не превышая бюджета.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure><img src="images/slider/services/icon6.png"
                             alt="ИНДИВИДУАЛЬНЫЙ ПОДХОД" width="66"
                             height="66"/>
                    <figcaption><span class="type-serv">ИНДИВИДУАЛЬНЫЙ ПОДХОД</span>

                        <p>Все наши усилия направлены на создание уникального имиджа клиента. Обсуждая проект, мы
                            договаривемся только
                            о бюджете и предпочтениях заказчика. После этого наши флористы готовят индививидуальное
                            предложение.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure><img src="images/slider/services/icon8.png"
                             alt="КАЧЕСТВО"
                             width="66" height="66"/>
                    <figcaption><span class="type-serv">КАЧЕСТВО</span>

                        <p>Мы работаем качественно - это помогает нам быстро выполнять свою работу и сэкономить свое
                            время и
                            время клиента.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure><img src="images/slider/services/icon11.png"
                             alt="ГАРАНТИЯ КАЧЕСТВА" width="66" height="66"/>
                    <figcaption><span class="type-serv">ГАРАНТИЯ КАЧЕСТВА</span>

                        <p>Мы даем гарантию на все виды услуг. Сообщите о проблеме, и мы ее оперативно устраним. Или
                            вернем
                            100% денег.</p>
                    </figcaption>
                </figure>
            </li>

        </ul>

        <div class="partners">
            <h2 class="h1 size-type">нам доверяют:</h2>
            <img src="images/slider/partner/prostor.png" alt="prostor" width="217" height="64"/>
            <img src="images/slider/partner/eva.png" width="196" height="128" alt="eva"/>
            <img src="images/slider/partner/Varus.png"
                 alt="varus"
                 width="186" height="66"/>
            <img src="images/slider/partner/bon%20hotel.gif"
                 alt="bon hotel" width="154" height="69"/>
        </div>

        <div class="partners">
            <h2 class="h1 size-type">НАШИ КЛИЕНТЫ О НАС:</h2>


            <div style="padding: 5px; border: 1px solid #cfcfcf; width: 80%;margin-left: 10%">
                <div class="otz" style="">
                    <table style="margin-top :10px; color: #333;" width="750">
                        <tr>
                            <td valign="top"><img src="images/kav.jpg" style="margin-right: 10px;"></td>
                            <td>
                                <div align="left" style="color: #333;"><img src="images/eva_shop.jpg"
                                                                            style="float: right; margin-left: 10px;margin-top :7px;">В
                                    августе
                                    этого года заключили договор на флористическое обслуживание с компанией «Elen
                                    Flowers». У
                                    меня в департаменте более 100 человек подчиненных, контрагентов только по
                                    Днепропетровску тоже более 100.
                                    Поверьте – цветы нужны постоянно.<br/>
                                    У нас за цветы ассистент мой отвечает. Раньше как ни спрошу – она за цветами вышла.
                                    Теперь все
                                    изменилось: доставляют бесплатно по городу, еще ни разу ничего не напутали, платим
                                    мы раз в месяц.<br/>
                                    Отдельное спасибо ребятам за поздравление с нашим 10-летием. Приехали, целую машину
                                    цветов привезли,
                                    поздравили всех от себя. Очень неожиданно и приятно было.<br/>
                                    Желаю Вам всего хорошего, успехов в бизнесе и побольше клиентов!
                                    <br><br>
                                    <i>
                                        <div align="right" style="margin-bottom: 10px;">Коммерческий Директор ООО
                                            «Руш»<br/>
                                            Н.С. Рыженко
                                        </div>
                                    </i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!--
                            <blockquote>
                                В августе этого года заключили договор на флористическое обслуживание с компанией «Elen Flowers». У
                                меня в
                                департаменте более 100 человек подчиненных, контрагентов только по Днепропетровску тоже более 100.
                                Поверьте
                                – цветы нужны постоянно.<br/>
                                У нас за цветы ассистент мой отвечает. Раньше как ни спрошу – она за цветами вышла. Теперь все
                                изменилось:
                                доставляют бесплатно по городу, еще ни разу ничего не напутали, платим мы раз в месяц.<br/>
                                Отдельное спасибо ребятам за поздравление с нашим 10-летием. Приехали, целую машину цветов привезли,
                                поздравили всех от себя. Очень неожиданно и приятно было.<br/>
                                Желаю Вам всего хорошего, успехов в бизнесе и побольше клиентов!
                                <p>Коммерческий Директор ООО «Руш»<br/>
                                    Н.С. Рыженко
                                </p>
                            </blockquote>
            -->
        </div>

        <div class="on-line-zakaz">
            <p class="h1">Онлайн-заявка</p>

            <p>Узнайте подробности прямо сейчас, для этого заполните заявку и наш специалист свяжется с
                Вами.</p>

            <form action="#" id="form_10">
                <div class="rslt"></div>
                <p>
                    <label>ФИО:</label>
                    <input class="js_name10" type="text"/>
                </p>

                <p style="display: none !important;">
                    <label>Имя:</label>
                    <input type="text" class="js_lastname9"/>
                </p>

                <p>
                    <label>Телефон:</label>
                    <input class="js_phone10" type="text"/>
                </p>

                <p>
                    <label>E-mail:</label>
                    <input class="js_email10" type="text"/>
                </p>

                <p class="btn">
                    <input type="button" onclick="formValid(10,'Y')" value=""
                           onmouseup="javascript:_gaq.push(['_trackPageview','/zakaz-knopka']);"/>
                </p>
            </form>
        </div>
        <p>Наши реквизиты: ЧП Смирнов О.В. ИНН 3112805812 <br/> т/с 26000060808535 в ЗАО КБ «Приватбанк» МФО 305299</p>
    </div>

</div>