<div class="wrapper-main">
    <div class="content">
        {% include 'products.twig' %}
        <h2 class="h1 size-type">5 ПРИЧИН ОБРАТИТЬСЯ К НАМ:</h2>
        <ul class="list-type-second advantage">
            <li>
                <figure><img src="images/slider/services/icon1.png"
                             alt="КАЧЕСТВО ЦВЕТОВ"
                             width="66" height="66"/>
                    <figcaption><span class="type-serv">КАЧЕСТВО ЦВЕТОВ</span>

                        <p>Мы используем только качественные цветы! Наши моральные и этические принципы не
                            позволяют нам продавать несвежий товар. Все цветы с момента поступления и до отправки
                            заказчику
                            хранятся в специальной холодильной камере при температуре +4 градуса и не более 1
                            недели.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure><img src="images/slider/services/icon1.png"
                             alt="ГАРАНТИЯ" width="66"
                             height="66"/>
                    <figcaption><span class="type-serv">ГАРАНТИЯ</span>

                        <p>Мы единственные в Днепропетровске даем 100% гарантию качества! И это не просто слова.
                            Сообщите нам о каких-либо претензиях к качеству цветов в течение 2-х дней с момента доставки
                            и
                            мы вернем 100% денег.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure><img src="images/slider/services/icon1.png"
                             alt="ЦЕНА" width="66"
                             height="66"/>
                    <figcaption><span class="type-serv">ЦЕНА</span>

                        <p>Мы закупаем цветы по лучшим оптовым ценам, а цветы из Голландии привозим сами, чтобы
                            обеспечить лучшие цены в городе. Кроме того, в отличие от всеукраинских и мировых служб
                            доставки
                            мы не пользуемся услугами посредников, что позволяет сэкономить еще от 10% до 20% стоимости
                            букета.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure><img src="images/slider/services/icon1.png"
                             alt="УНИКАЛЬНОСТЬ"
                             width="66" height="66"/>
                    <figcaption><span class="type-serv">УНИКАЛЬНОСТЬ</span>

                        <p>Каждый из представленных в продаже букетов - результат многолетнего опыта наших флористов.
                            Все букеты уникальны и защищены нашими авторскими правами. Кроме того у Вас есть возможность
                            заказать "Букет от Elen", который будет единственным в своем роде и подчеркнет Вашу
                            индивидуальность и вкус.</p>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure><img src="images/slider/services/icon1.png"
                             alt="ОПЛАТА И ДОСТАВКА" width="66" height="66"/>
                    <figcaption><span class="type-serv">ОПЛАТА И ДОСТАВКА</span>

                        <p>Заказать букет цветов еще никогда не было так просто! Просто отправьте онлайн-заявку или
                            позвоните
                            по указанному телефону, сообщите менеджеру подробности заказа и через пару минут на ваш
                            e-mail придет письмо с описанием заказа и нашими реквизитами для оплаты. Доставка по
                            Днепропетровску бесплатная!</p>
                    </figcaption>
                </figure>
            </li>

        </ul>



        <div class="on-line-zakaz">



            <p class="h1">Онлайн-заявка</p>
            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode:0, width:"400", height:"330"}, 42667707);
            </script>
            <p>Узнайте подробности прямо сейчас, для этого заполните заявку и наш специалист свяжется с
                Вами.</p>

            <form action="#" id="form_10">
                <div class="rslt"></div>
                <p>
                    <label>ФИО:</label>
                    <input class="js_name10" type="text"/>
                </p>

                <p style="display: none !important;">
                    <label>Имя:</label>
                    <input type="text" class="js_lastname9"/>
                </p>

                <p>
                    <label>Телефон:</label>
                    <input class="js_phone10" type="text"/>
                </p>

                <p>
                    <label>E-mail:</label>
                    <input class="js_email10" type="text"/>
                </p>

                <p class="btn">
                    <input type="button" onclick="formValid(10,'Y')" value=""/>
                </p>
            </form>
        </div>
    </div>
</div>