<footer class="footer" role="contentinfo">
    <div class="copyright">
        <p>2012 © Elen Flowers<br/>
            Все права защищены.</p>
    </div>
    <div class="soc-icon">
        <!--    <a target="blank" href="#" class="facebook"></a> -->
        <a target="blank" href="http://vk.com/elen_flowers" class="vkontakte"></a>
        <!--    <a target="blank" href="https://twitter.com/" class="twitter"></a> -->
        <!--    <a target="blank" href="#" class="you-tube"></a> -->
    </div>
    <!--<div class="uplab"><span>Разработка<br/>
    сайта</span> 2012
    </div> -->
</footer>