<header class="header" role="banner">
    <div class="content">
        <div class="logo"><a href="http://eflowers5.com"><img src="images/logo.png" width="118" height="75"
                                                              alt="ElenaFlowers"
                                                              title="главная страница"/></a></div>
        <div class="proff-orientation">
            <h1>Бесплатная доставка цветов
                <span><br/>в Днепропетровске<br/>Самый простой сервис заказа цветов!</span></h1>
        </div>
        <div class="phone">
            <p class="number">(0562) 36 03 55<br/> (067) 523 23 67<br/> (066) 487 82 68</p>
        </div>
        <span class="callback">заказать звонок</span>
    </div>
</header>